@media (max-width:700px)
{
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1
    {width: 100%;}

    .container{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

        .copy-right-icon {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        address{
            text-align: center;
        }

        .map-box iframe{
            margin-bottom: 30px;
        }

        .service-slider{
            width:100%;
        }
        .service-box{
            width: 100%;
        }

        .btn-info{
            width: 100%;
        }

}